*.cache
*.json
/bin
/obj
*.log
*.user
*.suo
*.vs
/node_modules

*/AssemblyInfo.cs
MyMapAppDb.db-Shm
MyMapAppDb.db-wal
Eksamen2024.dll
Eksamen2024.pdb
Eksamen2024.staticwebassets.runtime.json
staticwebassets/
Eksamen2024.Tests.dll
Eksamen2024.Tests.pdb
Eksamen2024.Tests.AssemblyInfo.cs
*.dll 
*.pdb 
*.AssemblyInfo.cs
Eksamen2024.sln


.fake