@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Form for adding a new pinpoint -->

<div id="map" style="height: 600px; width: 100%; margin-top: 20px;"></div>

<script>
    // Initialize the map and set its view to a default location (latitude, longitude)
    var map = L.map('map').setView([40.785091, -73.968285], 13);

    // Add the OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
</script>

<script src="~/js/testPinpoints.js"></script>
