@{
    ViewData["Title"] = "Admin Page";
}

@model IEnumerable<User>

<div class="container mt-5">
    <h2>Profiler:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Epost</th>
                <th>Passord</th>
                <th>Rolle</th>
                <th>Oppdater bruker</th>
                <th>Slett bruker</th>
            </tr>
        </thead>
        
    </table>
</div>
