@{
    ViewData["Title"] = "Registrer";
}

<div class="loginregistrering-container">
    <div class="loginregistrering-box">
        <h2>Registrer deg her!</h2>
        <form asp-controller="Bruker" asp-action="Login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="E-mail">E-mail</label>
                <input type="text" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <div class="register-section">
            <p>Ikke registrert? Registrer deg her</p>
            <a asp-controller="Bruker" asp-action="Registrer" class="btn btn-primary">Registrer</a>
        </div>
    </div>
</div>
